body{
  text-align: center;
  line-height: 1.5;
  margin: 8px 8px 8px 8px;
}

#main{
  background-color: #312F38; 
  color: #CCCBCF;
  margin: 8px 8px;
  padding: 15px;
  border-radius: 5px;
  }

#title{
    color:  #CCCBCF;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    
    
    }

#image{
 max-width: 100%;
 height: auto;
 display: block;
 margin: 0 auto;
 border-radius: 10px;
 
 }

#div-img{
  background-color: #D2D7D9;
  padding: 10px;
  margin: 0px;
}

#img-caption{
  font-size: 20px;
  font-family:  'Montserrat', sans-serif;
  margin: 10px;
  opacity: 0.5;
}

.paragraph{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 25px;
  opacity: 0.8;
}


#tribute-info{
  
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(11, 400px);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
   align-items: center;
}


